.tiptap-tooltip {
  --tt-tooltip-bg: var(--white);
  --tt-tooltip-text: var(--black);
  --tt-kbd: var(--black);

  .dark & {
    --tt-tooltip-bg: var(--white);
    --tt-tooltip-text: var(--gray-light-600);
    --tt-kbd: var(--tt-gray-light-a-400);
  }
}

.tiptap-tooltip {
  z-index: 200;
  overflow: hidden;
  border-radius: var(--tt-radius-md, 0.25rem);
  border: 1px solid var(--gray-light-150, #EEE);
  background-color: var(--tt-tooltip-bg);
  padding: 0.5rem 1rem;
  font-size: 0.8125rem;
  font-weight: 400;
  color: var(--tt-tooltip-text);
  box-shadow: 0 4px 12px 0px rgb(0 0 0 / 0.04);
  text-align: center;

  kbd {
    display: none;
    /*
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif;
    text-transform: capitalize;
    color: var(--tt-kbd);
    */
  }
}
