:root {
  /****************** 
  Basics
  ******************/

  overflow-wrap: break-word;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /****************** 
  Colors variables
  ******************/

  /* Gray alpha (light mode) */
  --tt-gray-light-a-50: rgba(56, 56, 56, 0.04);
  --tt-gray-light-a-100: rgba(15, 22, 36, 0.05);
  --tt-gray-light-a-200: rgba(37, 39, 45, 0.1);
  --tt-gray-light-a-300: rgba(47, 50, 55, 0.2);
  --tt-gray-light-a-400: rgba(40, 44, 51, 0.42);
  --tt-gray-light-a-500: rgba(52, 55, 60, 0.64);
  --tt-gray-light-a-600: rgba(36, 39, 46, 0.78);
  --tt-gray-light-a-700: rgba(35, 37, 42, 0.87);
  --tt-gray-light-a-800: rgba(30, 32, 36, 0.95);
  --tt-gray-light-a-900: rgba(29, 30, 32, 0.98);

  /* Gray (light mode) */
  --gray-light-50: #F9F9F9;
  --gray-light-100: #F5F5F5;
  --gray-light-150: #EEEEEE;
  --gray-light-200: #ECECEC;
  --gray-light-300: #DBDBDB;
  --gray-light-350: #C4C4C4;
  --gray-light-400: #B1B1B1;
  --gray-light-450: #979797;
  --gray-light-500: #747474;
  --gray-light-600: #646464;
  --gray-light-700: #646464;

  /* Gray alpha (dark mode) */
  --tt-gray-dark-a-50: rgba(232, 232, 253, 0.05);
  --tt-gray-dark-a-100: rgba(231, 231, 243, 0.07);
  --tt-gray-dark-a-200: rgba(238, 238, 246, 0.11);
  --tt-gray-dark-a-300: rgba(239, 239, 245, 0.22);
  --tt-gray-dark-a-400: rgba(244, 244, 255, 0.37);
  --tt-gray-dark-a-500: rgba(236, 238, 253, 0.5);
  --tt-gray-dark-a-600: rgba(247, 247, 253, 0.64);
  --tt-gray-dark-a-700: rgba(251, 251, 254, 0.75);
  --tt-gray-dark-a-800: rgba(253, 253, 253, 0.88);
  --tt-gray-dark-a-900: rgba(255, 255, 255, 0.96);

  /* Gray (dark mode) */
  --tt-gray-dark-50: rgba(25, 25, 26, 1);
  --tt-gray-dark-100: rgba(32, 32, 34, 1);
  --tt-gray-dark-200: rgba(45, 45, 47, 1);
  --tt-gray-dark-300: rgba(70, 70, 73, 1);
  --tt-gray-dark-400: rgba(99, 99, 105, 1);
  --tt-gray-dark-500: rgba(124, 124, 131, 1);
  --tt-gray-dark-600: rgba(163, 163, 168, 1);
  --tt-gray-dark-700: rgba(192, 192, 195, 1);
  --tt-gray-dark-800: rgba(224, 224, 225, 1);
  --tt-gray-dark-900: rgba(245, 245, 245, 1);

  /* Brand colors */
  --brand-light-light: #79A5F8;
  --brand-light-original: #1062FE;
  --brand-light-10: #F8FAFF;
  --brand-light-20: #F9FBFF;
  --brand-light-50: #F3F7FF;
  --brand-light-100: #EBF1FD;
  --brand-light-150: #E4EAF5;
  --brand-light-200: #D8DDE9;
  --brand-light-300: #C3D4FD;
  --brand-light-400: #A7C5FF;
  --brand-light-500: #6698F5;
  --brand-light-600: #4E8BFE;
  --brand-light-700: #1062FE;
  
  /* Brand colors (dark mode) */
  --brand-dark-light: #79A5F8;
  --brand-dark-original: #1062FE;
  --brand-dark-10: #1D1E21;
  --brand-dark-20: #252629;
  --brand-dark-50: #1D222A;
  --brand-dark-100: #2A374E;
  --brand-dark-150: #34445F;
  --brand-dark-200: #30476E;
  --brand-dark-300: #374E75;
  --brand-dark-400: #A7C5FF;
  --brand-dark-500: #6698F5;
  --brand-dark-600: #4E8BFE;
  --brand-dark-700: #1062FE;

  /* icon */
  --blue-light-100: #F3F7FF;
  --blue-light-150: #ECF2FE;
  --blue-light-400: #C9DBFB;
  --blue-light-600: #6698F5;
  
  --ocean-light-100: #EDF7FB;
  --ocean-light-150: #E6F3F8;
  --ocean-light-400: #BADBEA;
  --ocean-light-600: #5AA6C7;
  
  --lavender-light-100: #F3F4FD;
  --lavender-light-150: #EEEFFC;
  --lavender-light-400: #D2D5F8;
  --lavender-light-600: #949AEC;
  
  --mint-light-100: #EDF9F8;
  --mint-light-150: #E4F6F4;
  --mint-light-400: #C5EBE7;
  --mint-light-600: #77CEC6;
  
  --sage-light-100: #F0F7EC;
  --sage-light-150: #EBF3E5;
  --sage-light-400: #D9E8CF;
  --sage-light-600: #AECA99;
  
  --ashy-light-100: #F5F5F5;
  --ashy-light-150: #F0F0F0;
  --ashy-light-400: #DADADA;
  --ashy-light-600: #A9A9A9;
  
  --orange-light-100: #FFF5E9;
  --orange-light-150: #FFF1E0;
  --orange-light-400: #FEDEB5;
  --orange-light-600: #FDB456;
  
  --coral-light-100: #FEF2EF;
  --coral-light-150: #FEEDE8;
  --coral-light-400: #FECCBD;
  --coral-light-600: #FD855F;
  
  --rose-light-100: #FEF5F9;
  --rose-light-150: #FDEFF5;
  --rose-light-400: #F8CDE0;
  --rose-light-600: #ED83B1;
  
  --plum-light-100: #FAF2FC;
  --plum-light-150: #F7ECFB;
  --plum-light-400: #ECD3F5;
  --plum-light-600: #D49AE9;

  /* Green */
  --tt-color-green-inc-5: hsla(129, 100%, 97%, 1);
  --tt-color-green-inc-4: hsla(129, 100%, 92%, 1);
  --tt-color-green-inc-3: hsla(131, 100%, 86%, 1);
  --tt-color-green-inc-2: hsla(133, 98%, 78%, 1);
  --tt-color-green-inc-1: hsla(137, 99%, 70%, 1);
  --tt-color-green-base: hsla(147, 99%, 50%, 1);
  --tt-color-green-dec-1: hsla(147, 97%, 41%, 1);
  --tt-color-green-dec-2: hsla(146, 98%, 32%, 1);
  --tt-color-green-dec-3: hsla(146, 100%, 24%, 1);
  --tt-color-green-dec-4: hsla(144, 100%, 16%, 1);
  --tt-color-green-dec-5: hsla(140, 100%, 9%, 1);

  /* Yellow */
  --tt-color-yellow-inc-5: hsla(50, 100%, 97%, 1);
  --tt-color-yellow-inc-4: hsla(50, 100%, 91%, 1);
  --tt-color-yellow-inc-3: hsla(50, 100%, 84%, 1);
  --tt-color-yellow-inc-2: hsla(50, 100%, 77%, 1);
  --tt-color-yellow-inc-1: hsla(50, 100%, 68%, 1);
  --tt-color-yellow-base: hsla(52, 100%, 50%, 1);
  --tt-color-yellow-dec-1: hsla(52, 100%, 41%, 1);
  --tt-color-yellow-dec-2: hsla(52, 100%, 32%, 1);
  --tt-color-yellow-dec-3: hsla(52, 100%, 24%, 1);
  --tt-color-yellow-dec-4: hsla(51, 100%, 16%, 1);
  --tt-color-yellow-dec-5: hsla(50, 100%, 9%, 1);

  /* Red */
  --tt-color-red-inc-5: hsla(11, 100%, 96%, 1);
  --tt-color-red-inc-4: hsla(11, 100%, 88%, 1);
  --tt-color-red-inc-3: hsla(10, 100%, 80%, 1);
  --tt-color-red-inc-2: hsla(9, 100%, 73%, 1);
  --tt-color-red-inc-1: hsla(7, 100%, 64%, 1);
  --tt-color-red-base: hsla(7, 100%, 54%, 1);
  --tt-color-red-dec-1: hsla(7, 100%, 41%, 1);
  --tt-color-red-dec-2: hsla(5, 100%, 32%, 1);
  --tt-color-red-dec-3: hsla(4, 100%, 24%, 1);
  --tt-color-red-dec-4: hsla(3, 100%, 16%, 1);
  --tt-color-red-dec-5: hsla(1, 100%, 9%, 1);

  /* Basic colors */
  --white: #FFFFFF;
  --black: #1A1A1A;
  --transparent: rgba(255, 255, 255, 0);

  /****************** 
  Shadow variables
  ******************/

  /* Shadows Light */
  --tt-shadow-elevated-md:
    0px 16px 48px 0px rgba(17, 24, 39, 0.04),
    0px 12px 24px 0px rgba(17, 24, 39, 0.04),
    0px 6px 8px 0px rgba(17, 24, 39, 0.02),
    0px 2px 3px 0px rgba(17, 24, 39, 0.02);

  /************************************************** 
       Radius variables 
    **************************************************/

  --tt-radius-xxs: 0.125rem; /* 2px */
  --tt-radius-xs: 0.25rem; /* 4px */
  --tt-radius-sm: 0.375rem; /* 6px */
  --tt-radius-md: 0.5rem; /* 8px */
  --tt-radius-lg: 0.75rem; /* 12px */
  --tt-radius-xl: 1rem; /* 16px */

  /************************************************** 
       Transition variables 
    **************************************************/

  --tt-transition-duration-short: 0.1s;
  --tt-transition-duration-default: 0.2s;
  --tt-transition-duration-long: 0.64s;
  --tt-transition-easing-default: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  --tt-transition-easing-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
  --tt-transition-easing-quart: cubic-bezier(0.77, 0, 0.18, 1);
  --tt-transition-easing-circ: cubic-bezier(0.79, 0.14, 0.15, 0.86);
  --tt-transition-easing-back: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  /****************** 
  Contrast variables
  ******************/

  --tt-accent-contrast: 8%;
  --tt-destructive-contrast: 8%;
  --tt-foreground-contrast: 8%;

  &,
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    transition: none var(--tt-transition-duration-default)
      var(--tt-transition-easing-default);
  }
}

:root {
  /************************************************** 
      Global colors 
  **************************************************/

  /* Global colors - Light mode */
  --tt-bg-color: var(--white);
  --tt-border-color: var(--tt-gray-light-a-200);
  --tt-border-color-tint: var(--tt-gray-light-a-100);
  --tt-sidebar-bg-color: var(--gray-light-100);
  --tt-scrollbar-color: var(--tt-gray-light-a-200);
  --tt-cursor-color: var(--brand-light-original);
  --tt-selection-color: var(--brand-light-100);
  --tt-card-bg-color: var(--white);
  --tt-card-border-color: var(--tt-gray-light-a-100);
}

/* Global colors - Dark mode */
.dark {
  --tt-bg-color: var(--black);
  --tt-border-color: var(--tt-gray-dark-a-200);
  --tt-border-color-tint: var(--tt-gray-dark-a-100);
  --tt-sidebar-bg-color: var(--tt-gray-dark-100);
  --tt-scrollbar-color: var(--tt-gray-dark-a-200);
  --tt-cursor-color: var(--brand-light-400);
  --tt-selection-color: var(--brand-light-100);
  --tt-card-bg-color: var(--tt-gray-dark-50);
  --tt-card-border-color: var(--tt-gray-dark-a-50);

  --tt-shadow-elevated-md:
    0px 16px 48px 0px rgba(0, 0, 0, 0.5), 0px 12px 24px 0px rgba(0, 0, 0, 0.24),
    0px 6px 8px 0px rgba(0, 0, 0, 0.22), 0px 2px 3px 0px rgba(0, 0, 0, 0.12);
}

/* Text colors */
:root {
  --color-text-blue: var(--blue-light-600);
  --color-text-ocean: var(--ocean-light-600);
  --color-text-lavender: var(--lavender-light-600);
  --color-text-mint: var(--mint-light-600);
  --color-text-sage: var(--sage-light-600);
  --color-text-gray: var(--ashy-light-600);
  --color-text-orange: var(--orange-light-600);
  --color-text-coral: var(--coral-light-600);
  --color-text-rose: var(--rose-light-600);
  --color-text-plum: var(--plum-light-600);
}

.dark {
  --color-text-blue: var(--blue-light-600);
  --color-text-ocean: var(--ocean-light-600);
  --color-text-lavender: var(--lavender-light-600);
  --color-text-mint: var(--mint-light-600);
  --color-text-sage: var(--sage-light-600);
  --color-text-gray: var(--ashy-light-600);
  --color-text-orange: var(--orange-light-600);
  --color-text-coral: var(--coral-light-600);
  --color-text-rose: var(--rose-light-600);
  --color-text-plum: var(--plum-light-600);
}

/* Highlight colors */
:root {
  --color-highlight-blue: var(--blue-light-150);
  --color-highlight-ocean: var(--ocean-light-150);
  --color-highlight-lavender: var(--lavender-light-150);
  --color-highlight-mint: var(--mint-light-150);
  --color-highlight-sage: var(--sage-light-150);
  --color-highlight-gray: var(--ashy-light-150);
  --color-highlight-orange: var(--orange-light-150);
  --color-highlight-coral: var(--coral-light-150);
  --color-highlight-rose: var(--rose-light-150);
  --color-highlight-plum: var(--plum-light-150);

  --color-highlight-blue-contrast: var(--blue-light-400);
  --color-highlight-ocean-contrast: var(--ocean-light-400);
  --color-highlight-lavender-contrast: var(--lavender-light-400);
  --color-highlight-mint-contrast: var(--mint-light-400);
  --color-highlight-sage-contrast: var(--sage-light-400);
  --color-highlight-gray-contrast: var(--ashy-light-400);
  --color-highlight-orange-contrast: var(--orange-light-400);
  --color-highlight-coral-contrast: var(--coral-light-400);
  --color-highlight-rose-contrast: var(--rose-light-400);
  --color-highlight-plum-contrast: var(--plum-light-400);
}

.dark {
  --color-highlight-blue: var(--blue-light-150);
  --color-highlight-ocean: var(--ocean-light-150);
  --color-highlight-lavender: var(--lavender-light-150);
  --color-highlight-mint: var(--mint-light-150);
  --color-highlight-sage: var(--sage-light-150);
  --color-highlight-gray: var(--ashy-light-150);
  --color-highlight-orange: var(--orange-light-150);
  --color-highlight-coral: var(--coral-light-150);
  --color-highlight-rose: var(--rose-light-150);
  --color-highlight-plum: var(--plum-light-150);

  --color-highlight-blue-contrast: var(--blue-light-400);
  --color-highlight-ocean-contrast: var(--ocean-light-400);
  --color-highlight-lavender-contrast: var(--lavender-light-400);
  --color-highlight-mint-contrast: var(--mint-light-400);
  --color-highlight-sage-contrast: var(--sage-light-400);
  --color-highlight-gray-contrast: var(--ashy-light-400);
  --color-highlight-orange-contrast: var(--orange-light-400);
  --color-highlight-coral-contrast: var(--coral-light-400);
  --color-highlight-rose-contrast: var(--rose-light-400);
  --color-highlight-plum-contrast: var(--plum-light-400);
}
